@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
body{
    
}
header .menu ul li{
 position: relative;
}
header .menu ul li::after{
    content: "";
 width: 0%;
 height: 3px;
 background-color: #ff8800;
 position: absolute;
 top: 25px;
 left: 0;
 transition: 1s;
}
header .menu ul li:hover::after{
    width: 100%;
    
}
header .logo p{
    position: relative;
}
header .logo p::after{
 content: "";
 background-color: #ff8800;
 width: 100%;
 height: 6px;
 position: absolute;
 left: 0;
 bottom: 0;
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    margin-left: 180px;
    font-size: 30px;
}
header div ul{
    display: flex;
    column-gap: 30px;
}
header div ul li{
    list-style: none;
}
header div ul li a{
    list-style: none;
    text-decoration: none;
}
header .icons{
    margin-right: 180px;
}
header .icons a{
    margin-right: 10px;
    font-size: 32px;
}
main{
    width: 100%;
    height: 700px;

    background: rgb(36,17,0);
    background: linear-gradient(90deg, rgba(36,17,0,1) 0%, rgba(255,136,0,1) 39%, rgba(235,111,54,1) 67%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
main .container-imagem{
    width: 80%;
    height: 80%;
    display: flex;
}
main .container-imagem img{
    width: 850px;
    height: 600px;
    position: relative;
   
}
main .container-imagem p{
  font-size: 60px;
}
main .container-imagem p span{
    color: aqua;
}
main .container-imagem .container-descricao{
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
}
main .container-imagem .container-descricao a{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    width: 130px;
    text-align: center;
}

@media screen and (max-width: 425px) {
   header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
   } 
   header .logo{
    margin-left: 0;
    font-size: 50px;
    margin-bottom: 10px;
   }
   header .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 50px;
    width: 100%;
    background-color: black;
   }
   header .menu ul li a{
    color: white;
   }
   header .icons{
    display: none;
   }
   .container-principal .container-imagem{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-left: 15px;
   }
   .container-principal .container-imagem img{
    width: 200px;
    height: 150px;
   }
   .container-principal .container-imagem .container-descricao p{
    font-size: 45px;
    width: 160%;
    margin-bottom: 10px;
   }
   .container-principal .container-imagem .container-descricao a{
    width: 153%;
   }

}